@import url('./reset.css');

:root {
  /* color */
  --basic-color: #fff;

  /* font size */
  --large-font: 18px;
  --medium-font: 16px;
  --small-font: 12px;
  --fmicro-ont: 10px;
}

input {
  border: none;
  background-color: transparent;
  outline: 0;
}
input::placeholder {
  color: inherit;
  text-align: center;
}

.hidden {
  display: none;
}